<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>Cocoalicious</string>
	<key>CFBundleIconFile</key>
	<string>deliciousclient.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.scifihifi.Cocoalicious</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Lish</string>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
    <dict>
        <key>CFBundleURLName</key>
        <string>Del.icio.us web site URL to bookmark</string>
        <key>CFBundleURLSchemes</key>
			<array>
				<string>delicious</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
				<dict>
					<key>default</key>
					<string>Post URL via Cocoalicious</string>
				</dict>
			<key>NSMessage</key>
				<string>postNewLinkWithPasteboard</string>
			<key>NSPortName</key>
				<string>Cocoalicious</string>
			<key>NSSendTypes</key>
				<array>
					<string>NSURLPboardType</string>
					<string>NSStringPboardType</string>
				</array>
			<key>NSKeyEquivalent</key>
			<dict>
			<key>default</key>
				<string>^</string>
			</dict>
		</dict>
	</array>

</dict>
</plist>
